################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NYP_Framework/v15
/Base/Debug/Base.tlog/Base.lastbuildstate
/Base/Debug/Base.tlog
/Base/Debug
/Base/Test
/Common/Debug
*.exe
/Debug/Base.pdb
/Debug/Common.lib
/Debug/Common.pdb
Base/Base.vcxproj
Common/Common.vcxproj
